.full-profile {
  margin-bottom: 20px;
  display: flex;
}

.left-profile {
  float: left;
  width: 65%;
}

.right-profile {
  float: left;
  width: 35%;
}

.full-profile .radio input[type="radio"],
.full-profile .radio-inline input[type="radio"],
.full-profile .checkbox input[type="checkbox"],
.full-profile .checkbox-inline input[type="checkbox"] {
  left: 300px;
}

.right-profile .form-item-agreement-terms input[type="checkbox"] {
  left: 0px !important;
}

.right-profile .form-item-agreement-terms label.control-label {
  padding-left: 5px;
}

.profile-image, .profile-edit {
  overflow: auto;
}

.profile-edit {
  text-align: center;
  margin-top: 15px;
}


@media (min-width: 768px) {
  .page-bio .region-sidebar-first, .page-bio .region-sidebar-second {
      float: left;
      clear: unset;
      width: unset;
    }
}

.page-bio main.container {
  padding: 40px 0px 40px 0px;
} 

.page-bio .region-sidebar-first .block .block-title, .page-bio .region-sidebar-second .block .block-title {
    font-size: 22px;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: bold;
    color: unset;
    margin-top: unset;
    padding-top: unset;
    border-top: unset;
}

